<footer class="site-footer">

  <div class="wrap">
    <h2 class="footer-heading">{{ site.laboratory_name }}</h2>

    <p class="text">{{ site.description }}</p>

    <ul>
      <li></li>
      <li>{{ site.affiliation_name }}, {{ site.affiliation_city }}, {{ site.affiliation_country }}</li>
      <li>Contact: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    </ul>

    <ul>
      <li><p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p></li>
    </ul>


  </div>

</footer>
