<footer class="site-footer">

  <div class="wrap">
    <h2 class="footer-heading">{{ site.laboratory_name }}</h2>

    <p class="text">{{ site.description }}</p>

    <ul>
      <li>{{ site.affiliation_name }}</li>
      <li>{{ site.affiliation_address }}</li>
      <li>Contact us via <a href="mailto:{{ site.email }}">{{ site.email }}</a>, subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>, fork me on <a href="http://github.com/gistontl/homepage">GitHub</a></li>
    </ul>

  </div>

</footer>
